@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --darkmode-dark-blue: hsl(209, 23%, 22%); /* dark mode elements */
  --darkmode-bg-blue: hsl(207, 26%, 17%); /* dark mode background */
  --dark-blue: hsl(200, 15%, 8%); /* light mode text */
  --dark-gray: hsl(0, 0%, 52%); /* light mode input */
  --light-gray: hsl(0, 0%, 98%);  /* light mode background */
  --white: hsl(0, 0%, 100%);
}
